body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(img/boat-4899802_1920.jpg);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question {
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.option {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.option:hover {
  scale: 1.1;
  box-shadow: 0 0 10px 10px;
}
.score {
  background-color: #ffffffa9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  color: green;
}
h2 {
  font-size: 30px;
}
h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
